#cantinaContent div[data-cssrole="header"] {
	width: 100%;
}
#cantinaContent div[data-cssrole="header"] img {
	display: inline;
}

#cantinaContent div[data-cssrole="header"] div {
	display: inline;
	position: absolute;
}

#cantinaLabel {
	display: inline-block;
	width: 100%;
	font-size: 22px;
}

#palazzoLabel {
	display: inline-block;
	width: 100%;
	font-size: 14px;
}